<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">© {{ "now" | date: "%Y" }} {{ site.author.name | escape }}</li>
          {% endif -%}
        </ul>
        {%- endif %}
      </div>

      <div class="footer-col social-media-list">
        {%- include social.html -%}
      </div>
    </div>
  </div>
</footer>